.single-event_type {
  
  .main {
	position: relative;
	background-size: cover;
	overflow: hidden;
	@include flex(column, center, center);
	
	&:after {
	  content: '';
	  position: absolute;
	  z-index: 0;
	  width: 100%;
	  height: 100%;
	  background: $gradient_dark_red;
	}
	
	.wrapper {
	  padding: 0 1rem;
	  z-index: 1;
	  
	  h1 {
		max-width: 38rem;
	  }
	  
	  .button {
		margin: 0 auto;
	  }
	}
  }
}
