.single-gallery {
  
  .main {
	background: #ffffff;
	padding-top: 150px;
	min-height: auto;
	
	@include media(lg) {
	  padding-top: 200px;
	}
	
	.page-title {
	  color: $c_dark;
	  max-width: 860px;
	  margin: 0 auto;
	  
	  &:after {
		background: $c_dark;
	  }
	}
	
	.content {
	  padding: 1rem 0;
	  
	  @include media(xl) {
		padding: 2rem 0;
	  }
	  
	  .image {
		position: relative;
		height: 200px;
		
		@include media(sm) {
		  height: 300px;
		}
	 
		@include media(lg) {
		  height: 400px;
		}
		
		@include media(hd) {
		  max-width: 1390px;
		  height: 560px;
		  margin: 0 auto;
		}
	  }
	  
	  .text {
		margin: 1rem auto;
		padding: 1rem;
		border-top: 1px solid $c_dark;
		max-width: 800px;
		text-align: justify;
		
		@include media(xl) {
		  margin: 2rem auto;
		  padding: 2rem 0;
		  font-size: 1.125rem;
		}
		
		p {
		  margin-bottom: 1rem;
		}
		
		ul {
		  margin-bottom: 1rem;
		  li {
			position: relative;
			padding-left: 20px;
			
			&:before {
			  content: '';
			  width: 6px;
			  height: 6px;
			  transform: rotate(45deg);
			  background: $c_dark;
			  position: absolute;
			  left: 0;
			  top: 7px;
			}
		  }
		}
	  }
	}
  }
}
