// Mak
@font-face {
  font-family: 'Mak-Light';
  src: url('../fonts/Mak/Mak-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

// Stolzl
@font-face {
  font-family: 'Stolzl-Light';
  src: url('../fonts/Stolzl/Stolzl-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Regular';
  src: url('../fonts/Stolzl/Stolzl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Bold';
  src: url('../fonts/Stolzl/Stolzl-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
