// Fonts
$f_mak_light:		'Mak-Light';
$f_stolzl_light:	'Stolzl-light';
$f_stolzl_regular:	'Stolzl-Regular';
$f_stolzl_bold:		'Stolzl-Bold';

// Color
$c_red: #e65358;
$c_grey: 	#3D4B59;
$c_dark: 	#112437;

// Gradient
$gradient_dark_red: 			linear-gradient(180.34deg, rgba(17, 36, 55, 0.8) 24.41%, rgba(216, 82, 89, 0.8) 89.92%);
$gradient_dark_grey_red:		linear-gradient(180deg, rgba(17, 36, 55, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #E65358;
$gradient_gray_red: 			linear-gradient(0deg, #3D4B59, #3D4B59), #D85259;
$gradient_red: 					linear-gradient(0deg, #E65358, #E65358), #D85259;
$gradient_dark: 				linear-gradient(0deg, #112437, #112437), #D85259;
